body{
    background: #000;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-align: center;
    padding: 0;
}

.btn-transparent{
    background: none;
    color: #6d6d6d;
    text-transform: uppercase;
    transition: all 0.5s;
}

.btn-transparent:hover{
    background: #fff;
    color: #000;
}